.worst-input {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-left: 3vw;
}

.worst-select {
	display: flex;
	justify-content: space-around;
	background-color: grey;
	margin: 5px;
	border-radius: 10px;
	color: white;
}

.overall {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: grey;
	margin: 5px;
	border-radius: 10px;
	color: white;
}

.options {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding: 5px;
	background-color: grey;
	margin: 5px;
	border-radius: 10px;
}

.overall-input {
	width: 90%;
	margin: 10px;
}

.token-reveal {
	background-color: grey;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	color: white;
	text-align: center;
}
.option-input,
.option-button {
	width: 100%;
	flex: 1;
}